<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <!-- Unicode flower as favicon. -->
    <link rel="icon" href="data:image/svg+xml, <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22> <text y=%22.9em%22 font-size=%2290%22> ❁ </text> </svg>">

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body class="index">
    <div id="wrapper">

        <section>
            <nav>
                <ul>
                    <li> <a href="/">Home</a> </li>
                    <li> <a href="/about">About</a> </li>
                </ul>
            </nav>
        </section>

        <section>
            <p>Welcome to the home page!</p>
        </section>

        <section>
            <ul id="butterflies"></ul>
        </section>

        <script type="text/babel">
            // Get butterflies.
            const butterflies = <%- butterflies %>; // VSCode marks this as an error. It works just fine but the error marking is annoying... >:(

            // Create the HTML for how the butterflies are displayed.
            const display = butterflies.map((butterfly) =>
            <li>
                    <a href={"/detail?title=" + butterfly.title}> <img src={butterfly.src} alt={butterfly.alt}/> </a>
                    <p> {butterfly.title} </p>
            </li>)
        
            // Render the butterfly display with React.
            const App = () => {
                return (
                    display
                );
            }
            ReactDOM.render(<App />, document.getElementById('butterflies'));
        </script>

    </div> <!-- End "wrapper". -->
</body>

</html>